<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="justifyCenter justifyCenterMasonryLayout">
    <?audit suppress oracle.ide.xml.validation-error?>
    <div id="masonryLayout" data-bind="ojComponent: {component: 'ojMasonryLayout'}">
        <div id="templateList" >

<!-- this is the template content that is loaded by the MasonryLayout component above  -->


  

  

    <!-- My Notifications tile 1x1 -->
    <div id="MyNotifications" class="oj-masonrylayout-tile-1x1">
        <div class="oj-flex oj-flex-items-pad notifytitle">
            My Notifications
        </div>
        <div class="oj-flex oj-flex-items-pad oj-lg-12 tcrow">
            <div class="theadcount oj-flex-item"><span class="approveicon"></span><span>Approved</span><label >3</label></div>
            <div class="tnewhire oj-flex-item"><span class="waitingicon"></span><span>Waiting</span><label >30</label></div>
            <div class="ttermin oj-flex-item"><span class="rejectedicon"></span><span>Rejected</span><label >1</label></div>
        </div>
        <div class="oj-flex oj-sm-justify-content-center oj-md-justify-content-center oj-lg-justify-content-center notifynews">Friday, May 8, 2015</div>
    </div>

 

    <!-- Performance tile 1x1 -->


    <!-- Compensation Ratio tile 1x1 -->
    <div id="CompensationRatio" class="oj-masonrylayout-tile-1x1">
        <div class="oj-flex oj-flex-items-pad notifytitle">
            Compensation Ratio
        </div>
        <div class="oj-flex-item oj-lg-12 tcrow">
            <div class="theadcount"><span>Above Range</span><label >3</label></div>
            <div class="tnewhire"><span>In Range</span><label >30</label></div>
            <div class="ttermin"><span>Below Range</span><label >1</label></div>
        </div>
    </div>

  

    <!-- Average Rating tile 1x1 -->
    <div id="AverageRatings" class="oj-masonrylayout-tile-1x1">
        <div class="oj-flex oj-flex-items-pad notifytitle">
            Average Rating
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6 rate-icon">
                <img alt="average rating icon" class="" src="resources/oraclejet/css/images/avg-rate-icon.png"/>
            </div>
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6 avgrate-container">
                <div class="oj-flex oj-flex-items-pad performance-color" >10</div>
                <div class="oj-flex oj-flex-items-pad">
                    Performance
                </div>
                <div class="oj-flex oj-flex-items-pad potential-color" >2</div>
                <div class="oj-flex oj-flex-items-pad">
                    Potential
                </div>
            </div>
        </div>
    </div>

    <!-- My Schedule tile 1x1 -->
    <div id="MyActivities" class="oj-masonrylayout-tile-1x1">
        <div class="oj-flex oj-flex-items-pad notifytitle">
            My Activities
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6 mygrp">
                <div class="appointmenticon"><span>100</span></div>
                Appointments</div>
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6 mygrp">
                <div class="taskicon"><span>10</span></div>
                Tasks</div>
        </div>
    </div>
	
	 <div id="MyTeamActivities" class="oj-masonrylayout-tile-1x1">
        <div class="oj-flex oj-flex-items-pad notifytitle">
            My Org Activities
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6">
                <div class="meeting-color" >10</div>
                <div>
                    Meetings
                </div>
            </div>
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6">
                <div class="training-color" >2</div>
                <div>
                    Training
                </div>
            </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-6">
                <div class="event-color" >15</div>
                <div>
                    Events
                </div>
            </div>
            <div class="oj-flex-item  oj-lg-6 oj-md-6 oj-sm-6">
                <div class="timeoff-color" >2</div>
                <div>
                    Time Off
                </div>
            </div>
        </div>
    </div>

	</div>
    </div>
</div>

